body {
    background-color: rgb(0, 255, 13);
}

.box {
    background-color:rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.box-red {
    background-color:rgb(124, 23, 23);
}

.box-purple {
    background-color:rgb(204, 0, 255);
}

.Spiderman-page {
    background-color: antiquewhite;
    height: 100%;  
    width: 100%;
}